*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid{
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    'header header header header header'
    'main main main main sidebar '
    'main main main main sidebar '
    'main main main main sidebar '
    'footer footer footer footer footer';

}

.grid__item{
    font-size: 2rem;
    background-color: tomato;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header{
    background-color: tomato;
    grid-area: header;
    
}

.main{
    background-color: steelblue;
    grid-area: main;
}

.sidebar{
    background-color: teal;
    grid-area: sidebar;
}

.footer{
    background-color: violet;
    grid-area: footer;
}



@media screen and (max-width: 800px){
    .grid{
        grid-template-areas: 
        'header header header header header'
        'main main main sidebar sidebar '
        'main main main sidebar sidebar '
        'main main main sidebar sidebar '
        'footer footer footer footer footer';
    
    }
}

@media screen and (max-width: 500px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        'header'
        'main'
        'sidebar'
        'footer';
    
    }
}