*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    outline: 2px solid crimson;
    height: 500px;
    width: 90%;
    margin: 60px auto;
}

.element{
    background: steelblue;
    width: 150px;
    height: 150px;
    color: #fff;
    font-family: arial;
    padding: 10px;
    transform: skewY(30deg);
}