@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


:root{
    --padding-container: 80px 0;
    --color-primary: #48c6ef;
    --color-secondary: #6f86d6;
    --color-bg: #fafafa;
    --aling-title:  center;
    --box-shadow: 0 0 12px rgba(0,0,0, 0.2);
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-container);
}

.hero{
    --padding-container: 0;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    height: 100vh;
}

.hero__main{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.hero__img{
    width: 45%;
    text-align: center;
    margin: 0;
}

.hero__picture{
    max-width: 80%;
}

.hero__texts{
    width: 45%;
    color: white;
}

.hero__title{
    font-size: 4rem;
}

.hero__copy{
    font-size: 1.6rem;
    font-weight: 300;
}





/* about section  */

.title{
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-primary);
    text-align: var(--aling-title);
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about__img{
    width: 45%;
    text-align: center;
    margin: 0;
}

.about__pciture{
    max-width: 80%;
}

.about__texts{
    --aling-title: left;
    width: 50%;
}

.about__paragraph{
    line-height: 1.5;
}

.about__cta{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    background-color: var(--color-primary);
}

/* portfolio */

.porfolio{
    background-color: var(--color-bg);
}

.portfolio__cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 0;
}

.portfolio__card{
    width: 27%;
    background-color: white;
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    overflow: hidden;
}

.portfolio__pciture{
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
}

.portfolio__texts{
    padding: 30px 20px 40px;
}

.portfolio__title{
    font-size: 1.5rem;
    color: var(--color-secondary);
    text-align: center;
    margin: 0;
}

.portfolio__paragraph{
    font-weight: 300;
    line-height: 1.3;
    margin: 30px 0;
}

.portfolio__cta{
    display: block;
    background-color: var(--color-secondary);
    color: white;
    padding: 15px 0;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
}

/* copy section  */

.copy{
    background-color: var(--color-primary);

}

.copy__texts{
    --color-primary: #fff;
}

.title--margin{
    margin: 0;
}


/* galley container */


.gallery__container{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery__picture{
    max-width: 100%;
    width: 30%;
    height: 250px;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

/* lenguages section */

.lenguages{
    background: var(--color-bg);
}

.lenguages__container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lenguages__pricture{
    width: 20%;
    height: 100px;
}

/* footer section */

.footer{
    background-color: var(--color-primary);
    color: white;
    text-align: center;

}

.footer__container {
    --color-primary: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__texts{
    width: 50%;
}

.footer__icon{
    display: inline-block;
    font-size: 2rem;
    margin: 0 30px;
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid;
    border-radius: 50%;
}

.footer__icon.fab{
    line-height: 60px;
}

.footer__icon:hover{
    background: white;
    cursor: pointer;
    color: #48c6ef;
}

.footer__link{
    display: inline-block;
    color: white;
    margin: 0 20px;
    margin-bottom: 15px;
}


.footer__link:hover{
    text-decoration: none;
}

.footer__img{
    margin: 0;
    width: 35%;
}

.footer__picture{
    width: 100%;
}

@media screen and (max-width: 800px ){
    .hero{
        height: auto;
        min-width: 100vw;
        --padding-container: 40px 0;
    }

    .hero__main{
        justify-content: center;
    }

    .hero__img{
        width: 60%;
        margin-bottom: 30px;
    }
    
    .hero__picture{
        width: 85%;
    }

    .hero__texts{
        width: 100%;
    }

    .hero__title{
        font-size: 3.5rem;
    }


    /*Section About*/

    .about__texts{
        text-align: center;
        --aling-title: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .about__paragraph{
        text-align: left;
    }
    
    .about__img{
        width: 100%;
    }


    /*Portfolio */

    .portfolio__card{
        width: 45%;
        margin-bottom: 30px;
    }

    
    .portfolio__pciture{
        height: 150px;
    }

    .portfolio__texts{
        padding: 15px 10px 20px;
    }

    .portfolio__title{
        font-size: 1.2rem;
    }

    /* Gallery Section */

    .gallery__picture{
        width: 45%;
    }

    /* Section lenguages*/
    .lenguages__container{
        justify-content: space-between;
    }

    /*Footer*/

    .footer__container{
        flex-direction: column-reverse;
    }

    .footer__img{
        width: 45%;
    }

    .footer__picture{
        width: 100%;
    }

    .footer__texts{
        width: 100%;
    }
}

@media screen and (max-width: 550px ){
    .hero__img{
        width: 85%;
    }

    .hero__picture{
        max-width: 100%;
    }

    .hero__title{
        font-size: 2.8rem;
    }


    /*Section About*/

    .about__texts{
        width: 100%;
    }

    .title{
        font-size: 2.2rem;
    }

    /*Portfolio*/

    .portfolio__card{
        width: 100%;
        max-width: 300px;
    }

    /*Gallery Section*/

    .gallery__picture{
        width: 100%;
        max-width: 300px;
    }

    /*Section Lenguages*/

    .lenguages__container{
        justify-content: space-around;
    }

    .lenguages__pricture{
        width: 45%;
        margin-bottom: 30px;
    }

    /*Section Footer*/

    .footer__img{
        width: 90%;
    }

    .footer__picture{
        max-width: 330px;
        margin-bottom: 40px;
    }

}