@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Prata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Prata', serif;
    background-color: #ede8e2;
    height: 100vh;
    display: flex;
}

.grid{
    background-color: #fff;
    width: 90%;
    max-width: 1200px;
    height: 90vh;
    margin: auto;
    box-shadow: 0 0 30px -10px rgba(138, 135, 135, 0.5);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
}

.grid::before{
    content: "";
    grid-column: 4/-1;
    grid-row: 1/-1;
    background-image: url(garden.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    animation: show 2s 2s ease-in-out forwards;
}

.grid__title--transform{
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
    transform: translateX(9%);
    animation: move 1s 1s forwards;
}

.grid__texts{
    grid-row: 2/-1;
    grid-column: 2/8;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transform: translateX(50%);
    animation: show 1s ease-in-out forwards, move 1s ease-in-out forwards 1s;
}

.grid__title{
    font-size: 6rem;
}

@keyframes show {
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes move {
    to{
        transform: translateX(0%);
    }
}

@media screen and (max-width:1024px) {

    .grid__texts{
        transform: translateX(30%);
    }
}

@media screen and (max-width:768px) {

    .grid__texts{
        transform: translateX(40%);
    }
  
    .grid__title{
        font-size: 4rem;
    }

    .grid__title--transform{
        font-size: 2.5rem;
        transform: translateX(20%);
    }
}

@media screen and (max-width:320px) {
  
    .grid__texts{
        transform: translateX(20%);
    }
    
    .grid__title{
        font-size: 2rem;
    }

    .grid__title--transform{
        font-size: 1.5rem;
    }

    .grid::before{
        background-position: center;
    }
}