*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif   ;
}


.box{
    display: block;
    width: 100px;
    height: 100px;
    background-color: steelblue;
    color: white;
    text-align: center;
    line-height: 100px;
    margin-bottom: 10px;
}

.container{
    border: 2px solid tomato;
    width: 500px;
    margin: 30px auto;
    padding: 25px 30px;
}

.absolute{
    position: absolute;
    top: 0;
    left: 0;
}